---
---

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn&display=swap');

$Font-Headings: 'Vollkorn', serif;
$Font-Body: 'Poppins', sans-serif;

$Color-Text: #3b3b3b;
$Color-Text-Lighter: #6666FF;

html {
  font-family: $Font-Body;
}

code {
  background-color: #F1F1F1;
  padding: 0 0.2em;
  border-radius: 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Font-Headings;
  color: $Color-Text;
}

h1 {
  font-size: 48px;
}

.site-heading {
  font-size: 26px;
}

p, a {
  font-size: 20px;
}

.centered {
  text-align: center;
}

.spacer {
  height: 1em;
}

.content {
  margin: 0 3em;
}

.menu {
  & > a, p {
    text-decoration: none;
    background-image: linear-gradient(to right, $Color-Text-Lighter, $Color-Text-Lighter);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 5% 2px;
    transition: all .5s ease;
    color: $Color-Text;
    padding: 0 0.05em;
    display: block;

    &:hover {
      background-size: 100% 100%;
      color: #FFFFFF;
    }

    @media only screen and (min-width: 600px) {
      background-size: 25% 2px;
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}