---
---

@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

/* Color Theme Swatches in Hex */
$Sea-Foam-1: #00ba9e;
$Sea-Foam-2: #007a68;
$Sea-Foam-3: #00fad4;
$Sea-Foam-4: #003b32;
$Sea-Foam-5: #00e0bf;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne Mono", monospace;
}

hr {
  border: 0;
  height: 1px;
  background: $Sea-Foam-5;
}

code {
  background-color: $Sea-Foam-4;
  border-radius: 0.25em;
  padding: 0 0.25em;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  background-color: $Sea-Foam-4;
  color: #ffffff;
}

a,
a:visited {
  color: $Sea-Foam-1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 3em;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 3em;
  }
}

.sidebar {
  ul {
    list-style-type: none;
  }

  .footer {
    background-color: $Sea-Foam-5;
    color: #3b3b3b;
    border-radius: 5px;
    padding: 1em;

    a,
    a:visited {
      color: $Sea-Foam-4;
    }
  }
}

.this-5999 {
  opacity: 0;
  transition: all 1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
