---
---

@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

/* Color Theme Swatches in Hex */
$Sea-Foam-1: #00BA9E;
$Sea-Foam-2: #007A68;
$Sea-Foam-3: #00FAD4;
$Sea-Foam-4: #003B32;
$Sea-Foam-5: #00E0BF;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne Mono", monospace;
}

hr {
  border: 0;
  height: 1px;
  background: $Sea-Foam-5
}

body {
  font-family: "Crimson Text", serif;
  font-size: 14px;
  background-color: $Sea-Foam-4;
  color: #FFFFFF;
}

a, a:visited {
  color: $Sea-Foam-1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
}

.sidebar {
  ul {
    list-style-type: none;
  }

  .footer {
    background-color: $Sea-Foam-5;
    color: #3B3B3B;
    border-radius: 5px;
    padding: 1em;
  }
}
