<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}" />
        <title>
            {% if page.title %}
                {{ page.title }}
            {% else %}
                fcrh.me
            {% endif %}
        </title>
    </head>
    <body>
        <div class="content">
            {% include menu.html %}

            {{ content }}
        </div>
        <div class="spacer"></div>
        <div class="footer centered">
            <p>
                Made with ✨ by Randy Halim <br/>
                (Source on <a href="https://github.com/randy-halim/randy-halim.github.io">GitHub</a>)
            </p>
        </div>
    </body>
</html>